html {
    font-family: "Helvetica", "Arial", Keyboard, Times, "Hiragino Mincho ProN", "ヒラギノ明朝 ProN", serif;
    font-size: 1em;
    line-height: calc(31 / 19);
}

body {
    width: 100vw - 40%;
    height: auto;
    margin: 0 10% 0 10%;
    padding: 0;
}

header {
    width: auto;
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header div{
    margin: 0 10px 0 10px;
    flex-grow: auto;
}

header div:nth-child(1){
    flex-grow: 1;
}

small, span {
    margin: 0 10px 0 10px;
}

hr{
    border-color: red;
}

header svg {
    height: 40px;
}

footer {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid black;
}



