html{
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
    width: 80%;
    margin: auto auto;
    color: rgb(39, 39, 39);
    font-size: 12pt;
}

h1, h2, h3, h4, h5, h6{
    font-family: Arial, Helvetica, sans-serif;
}

.header p, .footer p{
    text-align: center;
    color: #303030;
    font-size: 10pt;
}

.footer p{
    text-align: center;
}

.header p{
    font-style: italic;
    text-align: left;
}